* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center;
  background-size: cover;
}

.container {
  width: 1200px;
  height: 800px;
  padding: 2em;
  display: flex;
  gap: 1em;
}

.row {
  border-radius: 3em;
}

.row-1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.row-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.col .col-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col-box {
  flex: 1;
  border-radius: 1em;
}

.box {
  flex: 1;
}

.col-box {
  background-color: rgba(255, 255, 255, 0.15);
  border: 0.5px solid #999;
  backdrop-filter: blur(20px);
}

.box {
  background-color: rgba(255, 255, 255, 0.15);
  border: 0.5px solid #999;
  backdrop-filter: blur(20px);
}

.col-box:hover {
  transform: scale(1.02);
  border-color: #14213d;
  transition: 0.3s;
}

.box:hover {
  transform: scale(1.02);
  border-color: #14213d;
  transition: 0.3s;
}
.row,
.row-1,
.col,
.box {
  border-radius: 1em;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .row-1 {
    flex-direction: row;
  }

  .row-2 {
    flex-direction: row;
  }

  .row-3 {
    flex-direction: row;
  }
  .col {
    flex: 2;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 900px;
    max-height: 550px;
    gap: 0.5em;
  }
  .row {
    gap: 0.5;
  }
  .col {
    gap: 0.5em;
  }
}
